@model AzureMediaPortal.Models.Comment

@{
    ViewBag.Title = "Details";
}
@section featured {
<h2>Details</h2>
}
<fieldset>
    <legend>Comment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CommentText)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommentText)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CommentTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommentTime)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CommentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
 
