@model System.Web.Mvc.HandleErrorInfo


@section featured {
    <div class="featured">
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title"><img src="~/Images/Weights-Icon-Small.png" />@Html.ActionLink("Watch and Learn", "Index", "Home")</p>
               

            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Public Videos", "PublicVideos", "Media")</li>
                        <li>@Html.ActionLink("My Videos", "Index", "Media")</li>
                        <li>@Html.ActionLink("About", "Index", "Home")</li>
                    </ul>
                </nav>
            </div>
            <hgroup class="title"></hgroup>
        </div>
    </div>
}
<hgroup class="title">
    <h1 class="error">Oops!</h1>
    <h2 class="error">Looks like no videos matched your search</h2>
</hgroup>

