@model IEnumerable<AzureMediaPortal.Models.MediaElement>

@{
    ViewBag.Title = "My Video List";
}

<h2>My Videos</h2>

<table>
    <tr>
       
       
    </tr>
    <form action="Upload">
        <input type="image" title="Upload new video" src="~/Images/upload.png" style="border:none; width:40px; height:40px; float:right;" />
    </form>  
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@item.Title, "Edit", new { id = item.Id }, new { @class = "videoPic" })
        </td>
        <td>
           
        </td>
        <td>
            <b>@Html.ActionLink(@item.Title, "Edit", new { id = item.Id }, new { @class = "videoLink" })</b>
            @*@Html.Label("By: " + @item.UserId)*@
            <i>@Html.Label("Uploaded: " + @item.UploadTime)</i>
            Viewable to Public: @Html.DisplayFor(model => item.IsPublic)
           <br> @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "deleteLink" })
        </td>
        
    </tr>
}
</table>



