@model IEnumerable<AzureMediaPortal.Models.MediaElement>

@{
    ViewBag.Title = "My Video List";
}

<h2>My Videos</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublic)
        </th>
       
    </tr>
    <form action="Upload">
        <input type="image" title="Upload new video" src="~/Images/upload.png" style="border:none; width:40px; height:40px; float:right;" />
    </form>  
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@item.Title, "Edit", new { id=item.Id }) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPublic)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        
    </tr>
}
</table>



