@model IEnumerable<AzureMediaPortal.Models.MediaElement> 

@{
    ViewBag.Title = "Public Videos";
}
@section featured {
    <div class="featured">
        <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="~/Images/Weights-Icon-Small.png" />@Html.ActionLink("Watch and Learn", "Index", "Home")</p>
                    <h3 style="color:white;">Welcome to Watch and Learn. View and upload instructional exercise videos to aid in your fitness goals.</h3>
                    @if (Request.IsAuthenticated) 
                    {
                        <p>Hi <span class="name">@User.Identity.Name</span> You can add, edit and delete your videos in the @Html.ActionLink("My Videos", "Index", "Media") section. Now that you are logged in, you will also be able to make comments on
                            videos that other users have uploaded. <span class="haveFun">Have fun!</span></p>
                    }
                    else 
                    {
                        <p>
                            The below videos are public and can be watched without user login. If you wish to share a video please @Html.ActionLink("Login", "Login", "Account") or @Html.ActionLink("Register", "Register", "Account") if you do not already have an account.
                        </p>
                    }
                    
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Public Videos", "PublicVideos", "Media")</li>
                            <li>@Html.ActionLink("My Videos", "Index", "Media")</li>
                            <li>@Html.ActionLink("About", "Index", "Home")</li>
                        </ul>
                    </nav>
                </div>
            <hgroup class="title">
               
            </hgroup>
        </div>
    </div>
}

<div style="float:right;">
        @using (Html.BeginForm()) 
        {
            <div>
                Search: @Html.TextBox("SearchString", null, new { placeholder = "Search by Title", id = "searchValue"})
                <input type="image" title="Search" src="~/Images/search.png" style="border:none; width:30px; height:30px; float:right;" />
               
            </div>

    @*<form action="/Media/sortSelector" method="get">

        <fieldset>
            Sort By: <select id="sortType" name="sortType">
                <option value=""></option>
                <option value="0">Alphbetical</option>
                <option value="1">User</option>
                <option selected="selected" value="2">Last Uploaded</option>
            </select>
            <input type="submit" value="Submit" />
        </fieldset>
    </form>*@

        }
    
        
</div>
   
<div style="flex-wrap: wrap; display: inline-flex;">
    @foreach (var item in Model) {
       
        <table>
            <tr>

            <td>
                @Html.ActionLink(@item.Title, "PublicVideoPlayback", new { id = item.Id }, new { @class = "videoPic" })
            </td>
            <td>
                <b>@Html.ActionLink(@item.Title, "PublicVideoPlayback", new { id = item.Id }, new { @class = "videoLink" })</b>
                @Html.Label("By: " + @item.UserId)
             
                <i>@Html.Label("Uploaded: " + @item.UploadTime)</i>
            </td>

            </tr>
        </table>
    }
    </div>

@section Scripts {

   @Scripts.Render("~/bundles/jquery")
   @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/media-upload.js"></script>
    <link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
}