@model IEnumerable<AzureMediaPortal.Models.MediaElement> 


@{
    ViewBag.Title = "Public Videos";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>Welcome to Watch and Learn. View and upload instructional exercise videos to aid in your fitness goals.</h2>
            </hgroup>
            <p>
                The below videos are public and can be watched without user login. If you wish to share a video please @Html.ActionLink("Login", "Login", "Account") or @Html.ActionLink("Register", "Register", "Account") if you do not already have an account.
            </p>
        </div>
    </section>
}

<div style="float:right;">
        @using (Html.BeginForm()) 
        {
            <div>
                Search: @Html.TextBox("SearchString")
                <input type="image" title="Search" src="~/Images/search.png" style="border:none; width:30px; height:30px; float:right;" />
            </div>
        
        }
        
</div>
    
<table>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(@item.Title, "PublicVideoPlayback", new { id = item.Id }, new { @class="videoPic"})
            </td>
            <td>
               <b>@Html.ActionLink(@item.Title, "PublicVideoPlayback", new { id = item.Id }, new { @class="videoLink"})</b>
                @Html.Label("By: " + @item.UserId)
               <i>@Html.Label("Uploaded: " + @item.UploadTime)</i>
            </td>
           
        </tr>
    }

</table>
