@model AzureMediaPortal.Models.MediaElement

@{
    ViewBag.Title = "WatchPublic";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MediaElement</legend>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AssetId)
        @Html.HiddenFor(model => model.FileUrl, new { id = "fileUrl" })
        @Html.HiddenFor(model => model.UserId)  
    </fieldset>
}

<div id="videoPlayer"></div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    @Html.LabelFor(Model => Model.VideoPost)
    @*TODO: get text to display for message body*@
    @*@foreach (var post in Model.VideoPost) {
        @Html.Label(post.MessageBody)
    }*@
       

</div>
@section Scripts {
    <script src="~/Scripts/playerframework.min.js"></script>
    <script src="~/Scripts/media-player.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        mediaPlayer.initFunction("videoPlayer", $("#fileUrl").val());
    </script>
}


