@model AzureMediaPortal.Models.MediaElement

@{
    ViewBag.Title = "WatchPublic";
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MediaElement</legend>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AssetId)
        @Html.HiddenFor(model => model.FileUrl, new { id = "fileUrl" })
        @Html.HiddenFor(model => model.UserId)  
    </fieldset>
}


<div>
    <div id="videoPlayer"></div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
    <div>
        <h2>Comments</h2>

        @*<table>
            @foreach (var item in ViewBag.Posts) {
                <tr>
                    <td>@item.MessageBody</td>
                    <td>User: @item.UserID</td>
                </tr>
            }
        </table>*@
        <div>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'fitvidsproject';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function () {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            @*<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>*@
          
        </div>

    </div>

@section Scripts {
    <script src="~/Scripts/playerframework.min.js"></script>
    <script src="~/Scripts/media-player.js"></script>
    <script src="~/Scripts/media-upload.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        mediaPlayer.initFunction("videoPlayer", $("#fileUrl").val());
    </script>
}


