@model IEnumerable<AzureMediaPortal.Models.Post>

@{
    ViewBag.Title = "Your comments";
}

<h2>Your Comments</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VideoTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageBody)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    if (User.Identity.Name == item.UserID) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VideoTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageBody)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PostID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PostID })

            </td>
        </tr>
    }

}

</table>
